.table {
    text-align: -webkit-center;

    .tableColumn {
        width: 15rem;
        .readTeamInvited, .blueTeamInvited, .disabledCard {
            height: 100%;
            cursor: pointer;
        }
        .blueTeamInvited {
            background-color: #4696E1;
        }
        .readTeamInvited {
            background-color: #E17546;
        }
        .disabledCard {
            background: rgba(0, 0, 0, 0.26);
            cursor: unset;
        }
        .rugCard {
            height: 100%;
            background-color: #3db536;
        }
        .gridListUserName {
            // height: 192px !important;
            // padding-bottom: 16px;
            .userCard {
                background-color: #4696E1;
                height: 100%;
            }
        }
    }
}