.table {
    text-align: -webkit-center;

    .tableColumn {
        width: 15rem;
        .readTeam, .blueTeam, .disabledCard {
            height: 100%;
            cursor: pointer;
        }
        .blueTeam {
            // TODO; global theme
            background-color: #4696E1;
        }
        .readTeam {
            background-color: #E17546;
        }
        .disabledCard {
            background: rgba(0, 0, 0, 0.26);
            cursor: unset;
        }
        .rugCard {
            height: 100%;
            background-color: #3db536;
        }
    }
}